<a href="https://colab.research.google.com/github/Pangilinancpe/Pangilinancpe-Python_Repositories/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Syntax

In [65]:
print("Hello World")

Hello World

if else statement

In [66]:
if 5 > 2:
  print("five is greater than two")

five is greater than two

Python Variable

In [67]:
x = 1
a, b=0, -1
a, b, c=0, -1, 2

b = "Sally" #this is a type of string

print(b)

Sally

Casting

In [68]:
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [69]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double/Single Quote

In [70]:
y = "John"
y = 'John'

Case Sensitive

In [71]:
#A will not overwrite a
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

Multiple Variables

In [72]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

one
two
three

In [73]:
x = y = z = "four"

print(x)
print(y)
print(z)

four
four
four

Output Variables

In [74]:
x = "enjoying"
print("Python programming is " +  x)

Python programming is enjoying

In [75]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

Arithmetic Operations

In [76]:
10 // 3

3

In [77]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

In [78]:
5 * 6 - 4 + 7 / 5

27.4

In [79]:
x = 6
y = 7
# Addtion
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# division
print(x / y)

# Modulo
print(x % y)

# Exponentation
print(x ** y)

# Floor Division
print(x // y)

13
-1
42
0.8571428571428571
6
279936
0

Assignment Operator

In [80]:
#Given
s = 1

#Operators
x = 5
print(x)

s += 3
print (s)

s -= 3
print (s)

s *= 3
print (s)

s /= 3
print (s)

s %= 3
print (s)

s //= 3
print (s)

s **= 3
print (s)

s = 1
s &= 3
print (s)

s |= 3
print (s)

s ^= 3
print (s)

s >>= 3
print (s)

s <<= 3
print (s)

5
4
1
3
1.0
1.0
0.0
0.0
1
3
0
0
0

Comparison Operator

In [81]:
t = 1
u = 2
#Equal
print (t == u)

#Not Equal
print (t != u)

#Greater than
print (t > u)

#Less than
print (t < u)

#Greater than or equal to
print (t >= u)

#Less than or equal to
print (t <= u)

False
True
False
True
False
True

Logical Operator

In [88]:
t = 1
u = 2

print (t < 5 and u < 10)

print(t < 5 or u < 4)

print (not(t < 5 and u < 10))

True
True
False

Identity Operators

In [89]:
print(x is y)
print(x is not y)

False
True

Bitwise Operator

In [104]:
v = 2

print (v & 1)
print (v | 1)
print (v ^ 1)
print (~v)
print (v << 1)
print (v >> 2 )

0
3
3
-3
4
0

In [101]:
a = 60
b = 13
result = a & b
print("a & b =", result)
print("Binary:", bin(result))

a & b = 12
Binary: 0b1100